header{
    border-bottom: 1px solid #e6e6e6;
    padding: 100px 30px;
    p{
        margin: 0;
        font-size: 40px;
        font-weight: 800;
        color: #fff;
        span{
            display: block;
            font-weight: 400;
            font-size: 15px;
        }
    }
}