header{
    // border-bottom: 1px solid #e6e6e6;
    padding: 20px 15px;
    p{
        margin: 0;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}