footer {
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    p {
        display: block;
        background-color: transparent;
        border: 0;
        text-align: center;
        margin: auto;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 10px;
        b{
            font-size: inherit;
        }
    }

    .logout-button {
        display: block;
        background-color: transparent;
        border: 0;
        text-align: center;
        margin: 0px auto 7px;
        left: 0;
        right: 0;
        font-size: 15px;
        color: #3f51b5;
    }
}